.SidebarItem{
    cursor: pointer;

    &:not(:hover){
        .DeleteFavoriteButton{
            visibility: hidden;
        }
    }
    &.active{
        .DeleteFavoriteButton{
            color: black;
        }
    }
}