.SidebarItem {
    height: 46px;
    border: solid 0.063rem rgb(136, 153, 166);
    position: relative;
    background-color:  #192734;
    color: white;
    margin: 0.313rem;
    font-size: 0.8125rem;
    border-radius: 0.313rem;
    text-align: left;
    box-shadow: 0 1px 3px #000;
    &.active{
        background-color: wheat;
        color: black;
    }
    &:not(.active):hover{
        background-color: rgba(107,125,140,0.1);
        border-color: #8bb6e5;
        box-shadow: 0rem 0rem 0.5rem 0rem rgba(137, 193, 202, 0.41);
    }
}

.name{
    display: inline-block;
    vertical-align: middle;

    white-space: nowrap;
    width: 14.375rem;
    overflow: hidden;
    text-overflow: ellipsis;
}

.icon{
    display: inline-block;
    vertical-align: middle;
    height: 80%;
    margin: 1% 4%;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;

    pointer-events: none;
}