.MainView{
    position: sticky;
    top: 1px;
    flex: 1;
    background-color: #151e29;
    margin-left: 10px;
    height: 100vh;
    min-width: 460px;
}

.MarketUpdateButton{
    color: white;
    background-color: #223446;
    position: relative;
    float: right;
    top: 1.25rem;
    right: 3.125rem;
    height: 2.188rem;
    width: 6.25rem;
    cursor: pointer;
    border-radius: 0.313rem;
    border: 0.063rem solid #8bb6e5;
    box-shadow: 0 3px 5px #000;
    &::before{
        content: "Update";
    }
    &:disabled{
        cursor: default;
    }
    &.loading{
        border-color: red;
        &::before{
            content: "Updating";
        }
    }
    &.completed{
        border-color: greenyellow;
        &::before{
            content: "Completed";
        }
        .ProgressBar{
            opacity: 0;
        }
    }
    .ProgressBar{
        &.active{
            top: 0rem;
            right: 0rem;
            height: 100%;
            position: absolute;
            background-color: rgba(0, 0, 0, 0.719);
            border-radius: 0.313rem;
            animation: progress-bar-keyframe 20s linear 0s 1 normal;
        }
        @keyframes progress-bar-keyframe {
            0% {
                width:100%;
            }
            100% {
                width:0%;
            }
        }
    }
}

.NotLogin{
    visibility: hidden;
}

.TablesView{
    max-height: 640px;
    height: calc(100vh - 200px);
    max-width: 81.25rem;
    margin-right: auto;
    margin-left: auto;
    display: flex;
}
