.icon {
  display: inline-block;
  position: relative;
  height: 100%;
  aspect-ratio: 1;
}

.iconimage {
  position: absolute;
  height: 100%;
  transform: scale(0.84);
}

.cover {
  position: absolute;
  top: 4%;
  height: 100%;
}
