.ViewApp{
    position: sticky;
    top: 1px;
    flex: 1;
    background-color: #151e29;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    height: 100vh;
    max-width: 1200px;
    min-width: 300px;
}

.TablesView{
    max-height: 640px;
    height: calc(100vh - 200px);
    max-width: 100%;
    margin-right: 10px;
    margin-left: 10px;
    display: flex;
}

.HistoryTable{
    margin-right: 10px;
}

@media (max-width:1000px) {
    .HistoryTable{
         display: none !important;
    }
}

@media (max-width:1000px) {
    .MarketTable{
        width: 900px !important;
        margin-right: auto !important;
    }
}
