.HistoryTable{
    width: 400px;
    margin-right: auto;
    position: relative;
    display: inline-block;
}

:global(.ReactVirtualized__Table__Grid){
    .Row {
        &:hover {
            background-color: rgba(107,125,140,.1);
        }
    }
}

.HistoryTableHeader{
    height: 40px;
}

.ShowTrandButton{
    display: inline;
}

.HistoryUpdatedDate{
    color: #a9a9a9;
    font-size: 16px;
}

:global(.tabulator-cell){
    &.World {
        padding: 0.75rem 8px;
    }
    &.Price{
        color: #ccff33;
    }
    &.QTY{
        color: #FFCC00;
    }
    &.HQ {
        padding: 0.75rem 0;
        img {
            width: 17px;
            height: 17px;
        }
    }
}

:global(.tabulator-col) {
    &.World {
        :global(.tabulator-col-content){
            padding: 0.75rem 8px;
        }
    }
    &.HQ {
        :global(.tabulator-col-content){
            padding: 0.75rem 0 !important;
        }
    }
    &.Materia {
        :global(.tabulator-col-content){
            padding: 0.75rem 4px !important;
        }
    }
}