.ItemHeader{
    height: 66px;
    margin-bottom: 5px;
    display: inline-block;
}

.icon{
    display: inline-block;
    position: relative;
    transform: scale(0.9);
    margin-left: 1.25rem;
}

.copyicon{
    margin-left: 8px;
    color: white;
    cursor: pointer;
    &.active{
        color: greenyellow;
    }
}

.iconimage{
    position: relative;
    left: 0.063rem;
    width: 4rem;
    height: 4rem;
    margin: 0.313rem;
    -webkit-border-radius: 0.313rem;
}

.cover{
    position: absolute;
    top: 0.125rem;
    left: 0rem;
    width: 4.75rem;
    height: 4.75rem;
}

.itemname{
    margin-left: 5px;
    display: inline-block;
    vertical-align: middle;
    color: #fff;
    font-weight: bold;
    font-size: 19px;
}

.erioneslink{
    width: 20px;
    height:20px;
    margin-left: 10px;
}