.LoginHeader {
    float: right;
    width: 100%;
    height: 21px;
}

.logout{
    float: right;
    position: relative;
    right: 0.625rem;
    color: white;
    &:hover {
        color: red;
        cursor: pointer;
    }
}