.MarketTable{
    max-width: 100%;
    width: calc(100% - 420px);
    padding-right: 0.625rem;
    padding-left: 0.313rem;
    margin-left: auto;
}

.MarketTableHeader{
    height: 40px;
}

.MarketUpdatedDate{
    color: #a9a9a9;
    font-size: 16px;
}
:global(.tabulator-cell){
    &.PriceCell{
        color: #ccff33;
    }
    &.QTY{
        color: #FFCC00;
    }
    &.Total{
        color: #afffa1;
    }
    &.RegisterTown{
        text-overflow: clip !important;
        padding: 7px 4px 10px 0px !important;
        height: 2.7rem;
    }
    &.HQ{
        img{
            width: 17px;
            height: 17px;
        }
    }
}

@media (max-width:1394px) {
    .MarketTable{
        width: 555px;
    }
}

@media (max-width:1326px) {
    .MarketTable{
        margin-right: auto;
        width: 800px;
    }
}