.TablesView{
    max-height: 640px;
    height: calc(100vh - 200px);
    max-width: 81.25rem;
    margin-right: auto;
    margin-left: auto;
    display: flex;
}

.ShowTrandButton{
    display: inline;
}

@media (max-width:1326px) {
    .HistoryTable{
         display: none !important;
    }
}

@media (max-width:1394px) {
    .MarketTable{
        width: 555px !important;
    }
}

@media (max-width:1326px) {
    .MarketTable{
        margin-right: auto !important;
        width: 800px !important;
    }
}