.WorldTab{
    background-color: #151e29;
    margin-bottom: 10px;
    max-width: 1060px;
    margin-left: auto;
    margin-right: auto;
    height: 30px;

    display: flex;
    flex-wrap: wrap;
    padding-left: 0;
    list-style: none;


}

.navitem{
    flex: 1 1 auto;
    text-align: center;
    cursor: pointer;
    display: flex;
    
    color: rgb(185, 187, 187);
    font-size: 1rem;

    padding-bottom: 3px;

    border-bottom: solid 1px;
    border-radius:0px;
    padding-bottom: 5px;
    padding-left: 0.5rem;
    padding-right: 0.5rem;

    a{
        margin-top: auto;
        margin-right: auto;
        margin-left: auto;
    }

    &:not(.active):hover{
        padding-bottom: 5px;
        color: rgb(79, 180, 243);
        border-bottom: solid 1px rgb(79, 180, 243);
        background: linear-gradient(to bottom, #151e29,#151e29 95%, rgb(79, 180, 243));
    }

    &.active{
        padding-bottom: 3px;
        border-bottom: solid 3px #1DA1F2;
        color: #a4dff7;
        background: linear-gradient(to bottom, #151e29,#151e29 95%, #15202B);
        cursor: default;
    }


}